<div class="mockup-window border bg-base-300 flex-1 mx-4 my-4" xmlns="http://www.w3.org/1999/html">
  <div class="flex flex-col h-full">
    <!-- Partie "Rechercher un ami" -->
    <div class="flex items-center justify-between py-4 px-6 bg-base-200">
      <h2 class="text-xl font-bold">Demandes d'amis</h2>
      <form *ngIf="searchForm" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
      <div >
        <input type="text" formControlName="pseudoToSearch" class="input input-bordered join-item" placeholder="Chercher un ami"/>
        <button class="btn btn-primary" type="submit" [disabled]="searchForm.invalid" >Envoyer demande</button>
        <div *ngIf="searchForm.get('pseudoToSearch')?.invalid && (searchForm.get('pseudoToSearch')?.dirty || searchForm.get('pseudoToSearch')?.touched)" class="text-xs text-error">Le pseudo contient entre 3 et 20 caractères</div>
      </div>
      </form>
    </div>


    <div class="p-6 bg-base-100 flex-1">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

        <!-- Section "Invitations reçues" -->
        <app-friend-request-received [owner]="owner"></app-friend-request-received>

        <!-- Section "Invitations envoyées" -->
        <app-friend-request-sent [owner]="owner"></app-friend-request-sent>

      </div>
    </div>
  </div>

  <div *ngIf="successMessage">
    <app-alert type="success" message="{{successMessage}}"></app-alert>
  </div>

  <div *ngIf="errorMessage">
    <app-alert type="error" message="{{errorMessage}}"></app-alert>
  </div>

</div>





